<div class="row">
    <div class="col-md-12 d-flex flex-row-reverse my-2">
        <button class="btn btn-custom mx-1" [routerLink]="['/device', 0]" *ngIf="authorizationService.isUser()">Novo</button>
        <input class="form-control" type="text" placeholder="Filtro" name="searchTerm" [(ngModel)]="searchTerm">
    </div>
</div>

<div class="row">
    <div class="col-md-12 table-responsive">
        <table class="table table-striped">
            <caption>Dispositivos</caption>
            <thead>
                <tr class="d-flex">
                    <th scope="col" class="col-1">#</th>
                    <th scope="col" class="col-6">Nome</th>
                    <th scope="col" class="col-1">Endereço</th>
                    <th scope="col" class="col-1">Habilitado</th>
                    <th scope="col" class="col-1">Cliente</th>
                    <th scope="col" class="col-1">Localidade</th>
                    <th scope="col" class="col-1">Ação</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let device of devices | listFilter: searchTerm :['name', 'address']" class="d-flex">
                    <th scope="row" class="col-1">{{device.id}}</th>
                    <td class="col-6">{{device.name}}</td>
                    <td class="col-1">{{device.address}}</td>
                    <td class="col-1">{{device.site.name}}</td>
                    <td class="col-1">{{device.site.customer.name}}</td>
                    <td class="col-1" *ngIf="device.enabled"><i class="fa fa-check"></i></td>
                    <td class="col-1" *ngIf="!device.enabled"><i class="fa fa-minus-circle"></i></td>
                    <td class="col-1 p-2">
                        <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Editar">
                            <button class="btn btn-sm btn-custom mx-1" [routerLink]="['/device', device.id]"><i
                                    class="fas fa-edit"></i></button>
                        </span>
                        <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Apagar"
                            *ngIf="authorizationService.isUser()">
                            <button class="btn btn-sm btn-danger mx-1" (click)="delete(device.id)"><i
                                    class="fas fa-trash"></i></button>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
