<div class="row">
    <div class="col-md-12 d-flex flex-row-reverse my-2">
        <button class="btn btn-custom mx-1" [routerLink]="['/customfield', 0]">Novo</button>
        <input class="form-control" type="text" placeholder="Filtro" name="searchTerm" [(ngModel)]="searchTerm">
    </div>
</div>

<div class="row">
    <div class="col-md-12 table-responsive">
        <table class="table table-striped">
            <caption>Campos customizados</caption>
            <thead>
                <tr class="d-flex">
                    <th scope="col" class="col-1">#</th>
                    <th scope="col" class="col-7">Nome</th>
                    <th scope="col" class="col-1">Entidade</th>
                    <th scope="col" class="col-1">Ordem</th>
                    <th scope="col" class="col-1">Tipo</th>
                    <th scope="col" class="col-1">Ação</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let customfield of customfields | listFilter: searchTerm :['name', 'entity', 'customFieldType']"
                    class="d-flex">
                    <th scope="row" class="col-1">{{customfield.id}}</th>
                    <td class="col-7">{{customfield.name}}</td>
                    <td class="col-1">{{customfield.entity}}</td>
                    <td class="col-1">{{customfield.sortOrder}}</td>
                    <td class="col-1">{{customfield.customFieldType}}</td>
                    <td class="col-1 p-2">
                        <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Editar">
                            <button class="btn btn-sm btn-custom mx-1"
                                [routerLink]="['/customfield', customfield.id]"><i class="fas fa-edit"></i></button>
                        </span>
                        <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Apagar">
                            <button class="btn btn-sm btn-danger mx-1" (click)="delete(customfield.id)"><i
                                    class="fas fa-trash"></i></button>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
